<div id="aside-contents">
    <div id="aside-contents-box">
        <p><span data-i18n="aside paragraph 1"></span></p>
        <p>
            <a id="link-to-project" href="https://github.com/allnulled/express-scaffolding-project">https://github.com/allnulled/express-scaffolding-project</a>
        </p>
    </div>
</div>