<footer>
    <div>
        <ul id="footer-list-1">
            <li>
                <a href="/home"><span data-i18n="Home"></span></a>
            </li>
            <li>
                <a href="/contact"><span data-i18n="Contact"></span></a>
            </li>
        </ul>
        <div id="footer-list-2">
            <div id="languages-list">
                <span onclick="CustomTheme.functions.changeLanguage('en')"><img class="language-icon" src="/lib/images/england-icon.png" alt="Inglés" /></span>
                <span onclick="CustomTheme.functions.changeLanguage('es')"><img class="language-icon" src="/lib/images/spain-icon.png" alt="Español" /></span>
                <span onclick="CustomTheme.functions.changeLanguage('ca')"><img class="language-icon" src="/lib/images/catalonia-icon.png" alt="Català" /></span>
            </div>
        </div>
    </div>
    <div id="footer-note">
        <span data-i18n="Made with"></span> <img id="footer-note-icon" src="/favicon.ico" alt="love" /> <span data-i18n="by"></span> <a href="https://github.com/allnulled">allnulled</a>.
    </div>
</footer>