<header>
        <%-await include(process.env.PROJECT_SRC + "/batches/templates/partials/topbar.ejs")%>
        <%-await include(process.env.PROJECT_SRC + "/batches/templates/partials/navigation.ejs" )%>
        <div id="page-title" data-i18n="<%-title%>"></div>
    </header>