<nav>
            <div id="navigation-menu-box" style="display: none;">
                <ul id="navigation-menu">
                    <li>
                        <a href="/home"><span data-i18n="Home"></span></a>
                    </li>
                    <li>
                        <a href="/contact"><span data-i18n="Contact"></span></a>
                    </li>
                </ul>
            </div>
        </nav>