<div>
    <table id="navigation-bar">
        <tbody>
            <tr>
                <td id="navigation-button-box" style="width: 1%; vertical-align: middle; cursor: pointer;" onclick="CustomTheme.functions.toggleNavigation()">
                    <span>
                        <img style="width: 25px; height: 25px;" src="/lib/images/hamburguer.png" alt="">
                    </span>
                </td>
                <td style="width: 100%; vertical-align: middle; padding-left: 5px;">
                    <span><%-process.env.APP_PAGE_TITLE%></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
